.nav-bar-style{
    background-color: rgb(38, 66, 66);
    color: orange;
}
.logo-style{
    font-family: Monoton;
    padding: 1vh 0 0 1vh;
}
.nav-font{
    font-family: Bangers;
    color: orange;
    font-size: 2vh;
}
header{
    background-image: url(../images/alexandre-debieve-590418-unsplash.png);
    height: auto;
    background-size:cover;
    background-repeat: no-repeat;
    color: orange;
    /* font-family: Bangers; */
}
.iconform{
    font-size: 5rem;
    padding-bottom: 5rem;
}
.dev-cons{
    padding-top: 0.5rem;
}
.img-style{
    height: 250px;
    width: 300px;
}
